@import 'tailwindcss';

:root {
  font-family: Inter;
  color-scheme: light dark;
}

#root {
  width: 100%;
}

html {
  background-color: oklch(0.97 0 0);
}

body {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  place-items: center;
}